<%= render "sidebar" %>
<div class='content-container'>
  <h1 class='team-header'><%=@team.team_name%></h1>
  <div class='team-head'>
    <p class='cash-snap'>
    Total Cash: <%=number_to_currency(@team.cash_balance, :unit => "$", :precision => 0)%>
    </p>
    <p class='portfolio-snap'>
    Total Portfolio Value: <%=number_to_currency(@totalPropertyValue, :unit => "$", :precision => 0)%>
    </p>
    <p id="notice"><%= notice %></p>
  </div>
  <ul class="cards">
    <% @properties.each do |prop| %>
      <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--fence"></div>
          <div class="card__content">
            <div class="card__title"><%= prop.name %></div>
              <div class="card__info_main">
                <ul id="card__info">
                  <li>
                    <%= prop.city %>, <%= prop.province %>
                  </li>
                  <li>
                    Value: <%= number_to_currency(prop.value, :unit => "$") %>
                  </li>
                  <li>
                    Asset Class: <%= prop.property_type.description %>
                  </li>
                </ul>
                <ul id="card__info">
                  <% if prop.development && !prop.developed %>
                  <li>
                    Dev. Cost: <%=number_to_currency(prop.development.cost, :unit => "$", :precision => 0)%>
                  </li>
                  <li>
                  <%end%>
                    <% if prop.development && prop.developed %>
                      Developed: Yes
                    <% elsif prop.development && !prop.developed %>
                      Developed: No
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
      </li>
    <% end %>
  </ul>
</div>
