<p id="notice"><%= notice %></p>

<h1>Properties Owned</h1>
<table>
<% @properties.each do |property| %>
  <tr>
    <td><%= property.id %> </td>
    <td><%= property.city %> </td>
  </tr>
<% end %>
</table>

Property Type 1 count: 
<%= @incentives[:countType1] %>

<p>
  <%= link_to 'Edit', edit_team_path(@team) %>
  <%= link_to 'Back', teams_path %>
</p>