<div class="home-page" id="login-signup">
  <header>
			<h1 class="title"><i class="fa fa-user"></i> User Log In</h1>
	</header>
	<section>
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username, class: 'mail' %>

      <%= f.label :password %>
      <%= f.password_field :password , class: 'password'%>
      <%= f.submit 'Log In', class: 'login' %>
    <% end %>
  </section>
	<footer>
		QRIC Trading Simulation
	</footer>
</div>
