<% flash.each do |k, v| %>
  <div id="error"><%= v %></div>
<% end %>
<div class="wrapper" id="login">
  <div class="container" id="login">
		<span class="title">Welcome to QRIC 2018</span>
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.text_field :username %>
      <%= f.password_field :password %>
      <%= f.submit 'Log In', class: "btn" %>
    <% end %>
</div>
