<% flash.each do |k, v| %>
  <div id="error"><%= v %></div>
<% end %>
<div class="wrapper">
  <div class="container">
		<h1 class="title">Welcome</h1>
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.text_field :username %>
      <%= f.password_field :password %>
      <%= f.submit 'Log In' %>
    <% end %>
</div>
