<%= render "sidebar" %>
<div class='content-container'>
<h1>Incentives</h1>

<br>
  <div class="table">
      <div class="row header blue">
        <div class="cell">
          Incentive
        </div>
        <div class="cell">
          Value
        </div>
        <div class="cell">
          Team 1
        </div>
        <div class="cell">
          Team 2
        </div>
        <div class="cell">
          Team 3
        </div>
        <div class="cell">
          Team 4
        </div>
        <div class="cell">
          Team 5
        </div>
        <div class="cell">
          Team 6
        </div>
        <div class="cell">
          Team 7
        </div>
        <div class="cell">
          Team 8
        </div>
      </div>
      <% Incentive.all.each do |incentive| %>
        <div class="row">
          <div class="cell">
            <%=incentive.description%>
          </div>
          <div class="cell">
          <%=number_to_currency(incentive.value, :unit => "$")%>
          </div>
          <%@calculations = Hash[@calculations.sort_by {|k,v| k.to_s.to_i }]%>
          <% @calculations.each do |team,values| %>
            <div class="cell">
              <%= incentive.incentive_type == 1 ? values[incentive.calculation_key.to_sym] :  number_to_currency(values[incentive.calculation_key.to_sym])%>
            </div>
          <%end %>
          <!-- <div class="cell">
            <%= link_to "Issue Request", new_trade_request_path %>
          </div> -->
        </div>
      <% end %>
  </div>

</div>
