<div class="home-page" id="login-signup">
  <header>
			<h1 class="title"><i class="fa fa-user"></i>Welcome</h1>
	</header>
	<section>
    <%= form_for(@user) do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username, class: 'mail' %>

      <%= f.label :password %>
      <%= f.password_field :password , class: 'password'%>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation , class: 'password'%>
      <%= f.submit 'Create Account'
       %>
    <% end %>
	</section>
	<footer>
		Hi
	</footer>
</div>
