<%= render "sidebar" %>
<div class='content-container'>
  <% flash.each do |k, v| %>
    <div id="error"><%= v %></div>
  <% end %>

  <div class="cards">
    <div class='card' id="snapshot">
      <span class="prop-title"><%=@team.team_name%></span>
      <span class="prop-attr">Cash: <%=number_to_currency(@team.cash_balance, :unit => "$", :precision => 0)%></span>
      <span class="prop-attr">Portfolio Value: <%=number_to_currency(@totalPropertyValue, :unit => "$", :precision => 0)%></span>
    </div>
    <% @properties.each do |prop| %>
      <div class='card' background="http://www.nallaneramproperties.com/wp-content/uploads/2016/10/property-connect-home.jpg">
        <span class="prop-title"><%=prop.name%></span>
        <span class="prop-attr"><%=prop.city%>, <%=prop.province%></span>
        <% if prop.development %>
          <span class="prop-dev">Development Cost: <%=number_to_currency(prop.development.cost, :unit => "$", :precision => 0)%></span>
        <% end %>
        <span class="prop-type"><%=prop.property_type.description%></span>
        <%if prop.development && !prop.developed and !prop.in_development%>
          <%= link_to 'Develop', develop_path(prop.id), class: "btn" %>
        <%end%>
      </div>
    <% end %>
  </div>
</div>

<!-- TODO: Add financial snapshot button with popup - display cash and number of properties -->
