<%= render "sidebar" %>
<div class='profile-content'>
  <%= user = User.find(session[:user_id]) %>
  <%= user.username %>
  <%= @properties = Property.where(user_id: user.id).all %>
  <% @properties.each do |property| %>
  <%= property %>
  <% end %>
  <!-- TODO: Display relevant profile information. -->
</div>
