<%= render "sidebar" %>
<div class='content-container'>
  <% flash.each do |k, v| %>
    <div id="error"><%= v %></div>
  <% end %>
  <p>
  Total Cash: <%=@team.cash_balance%>
  Total Property Value: <%=@totalPropertyValue%>
  </p>
  <ul class="cards">
    <% @properties.each do |prop| %>
      <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--fence"></div>
          <div class="card__content">
            <div class="card__title"><%= prop.city %></div>
              <ul id="card__info">
                <li>
                  Value: <%= prop.value %>
                </li>
                <li>
                  Development Value: <%= prop.development.value %>
                </li>
                <li>
                  Development Cost: <%=prop.development.cost%>
                <li>
                  <% if prop.developed %>
                    Developed: Yes
                  <% elsif prop.in_development%>
                    Developed: In Development
                  <% end %>
                </li>

                <li>
                  Total Value: <%=prop.getValue()%>
              </ul>
            <%if !prop.developed and !prop.in_development%>
              <%= link_to 'Develop', develop_path(prop.id), class: "btn btn--block card__btn" %>
            <%end%>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
