<%= render "sidebar" %>
<div class='content-container'>
  <ul class="cards">
    <% @properties.each do |prop| %>
      <li class="cards__item">
        <div class="card">
          <div class="card__image card__image--fence"></div>
          <div class="card__content">
            <div class="card__title"><%= prop.city %></div>
              <ul id="card__info">
                <li>
                  Value: <%= prop.value %>
                </li>
                <li>
                  <% if prop.developed %>
                    Developed: Yes
                  <% else %>
                    Developed: No
                  <% end %>
                </li>
                <li>
                  Development Value: <%= prop.development.value %>
                </li>
              </ul>
            <%= link_to 'Develop', develop_path(prop.id), class: "btn btn--block card__btn" %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
