<%= render "sidebar" %>
<p id="notice"><%= notice %></p>
<h1>All Properties</h1>

<br>

<div class="table">
    <div class="row header blue">
      <div class="cell">
        Team
      </div>
      <div class="cell">
        Property Type
      </div>
      <div class="cell">
        Property Value
      </div>
      <div class="cell">
        In Development
      </div>
      <div class="cell">
        City
      </div>
      <div class="cell">
        Province
      </div>
    </div>

    <% @properties.each do |property| %>
      <div class="row">
        <div class="cell">
          <%= property.team_id %>
        </div>
        <div class="cell">
          <%= property.property_type %>
        </div>
        <div class="cell">
          <%= property.property_values_id %>
        </div>
        <div class="cell">
          <%= property.in_development %>
        </div>
        <div class="cell">
          <%= property.city %>
        </div>
        <div class="cell">
          <%= property.province %>
        </div>
      </div>
    <% end %>

  </div>

<!-- <%= link_to 'New Property', properties_path %> -->
