<%= render "sidebar" %>
<p id="notice"><%= notice %></p>
<div class='content-container'>
  <h1>All Properties</h1>
  <br>
  <% @teams.each do |team| %>
    <h2> <%= team.team_name %> Properties</h2>
    <ul class="cards">
      <% team.properties.each do |prop| %>
        <li class="cards__item">
          <div class="card">
            <div class="card__image card__image--fence"></div>
            <div class="card__content">
              <div class="card__title"><%= prop.city %></div>
                <ul id="card__info">
                  <li>
                    Value: <%= prop.value %>
                  </li>
                  <li>
                    <% if prop.developed %>
                      Developed: Yes
                    <% else %>
                      Developed: No
                    <% end %>
                  </li>
                  <li>
                    Development Value: <%= prop.development.value %>
                  </li>
                </ul>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>



<!-- <script>
  // $('.trade-request').on('click', function(){
  //   let property_id = this.id;
  //   $.ajax({
  //     url: "localhost:3000/trade_requests",
  //     type: 'post',
  //     data: property_id
  //   }).done(function(){
  //     debugger;
  //   });
  // });

</script> -->


<!-- <%= link_to 'New Property', properties_path %> -->
