<%= render "sidebar" %>
<div class='content-container' id='properties'>
  <% flash.each do |k, v| %>
    <div id="error"><%= v %></div>
  <% end %>
  <br>
    <div class="cards">
    <% @teams.each do |team| %>
        <% team.properties.each do |prop| %>
          <div class='card' background="http://www.nallaneramproperties.com/wp-content/uploads/2016/10/property-connect-home.jpg">
            <div class="top-info"></div>
            <div class="center-info">
              <span class="prop-title"><%=prop.name%></span>
              <span class="prop-attr"><%=prop.city%></span>
              <span class="prop-team"><%=team.team_name%></span>
            </div>
            <div class="bottom-info">
              <span class="property-value"><%=number_to_currency(prop.value, :unit => "$", :precision => 0)%></span>
              <span class="asset-class"><%=prop.property_type.description%></span>
           </div>
          </div>
        <% end %>
    <% end %>
  </div>
</div>



<!-- <script>
  // $('.trade-request').on('click', function(){
  //   let property_id = this.id;
  //   $.ajax({
  //     url: "localhost:3000/trade_requests",
  //     type: 'post',
  //     data: property_id
  //   }).done(function(){
  //     debugger;
  //   });
  // });

</script> -->


<!-- <%= link_to 'New Property', properties_path %> -->
