<%= render "sidebar" %>
<div class='content-container'>
  <% flash.each do |k, v| %>
    <div id="error"><%= v %></div>
  <% end %>

  <div class="cards">
      <div class="cards__item">
        <div class="card">
          <div class="card__image card__image--fence"></div>
          <div class="card__content">
            <div class="card__title"><%= @property.name %></div>
              <ul id="card__info">
                <li>
                  City: <%= @property.city %>
                </li>
                <li>
                  Province: <%= @property.province %>
                </li>
                <li>
                  Asset Class: <%= @property.property_type.description %>
                <li>
                  Value: <%= number_to_currency(@property.value, :unit => "$") %>
                </li>
                <li>
                  <% if @property.developed %>
                    Developed: Yes
                  <% else %>
                    Developed: No
                  <% end %>
                </li>
              </ul>
            <% if prop.development %>
              <%= link_to 'Develop', develop_path(@property.id), class: "btn btn--block card__btn" %>
            <% end %> 
          </div>
        </div>
      </div>
  </div>
  <%= link_to 'Back', properties_path %>
</div>
