<div class='content-container'>
  <%= form_for(trade_request) do |f| %>

    <% if trade_request.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(trade_request.errors.count, "error") %> prohibited this trade_request from being saved:</h2>
        <ul>
        <% trade_request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field :offeror_id, :value => current_user.team_id%>
    <%= f.hidden_field :offeree_id, :value => @team_id%>

    <div class="new-trade">
      <div class="new-trade" id="outgoing-items">
        <ul>
          <p id="offer-heading">Your Offer</p>
          <li>
            <% current_user.team.properties.each do |prop| %>
              <div id="property-option">
                <%= check_box_tag "outgoing_property[]", prop.id %>
                <%= label_tag 'outgoing_property', prop.city %>
              </div>
            <% end %>
          </li>
          <li>
            <%= f.label :outgoing_cash, :class=>"mat-label"%>
            <%= f.text_field :outgoing_cash, :class =>'mat-input', :id =>'cash-outgoing'%><br />
          </li>
        </ul>
      </div>
      <div class="new-trade" id="requested-items">
        <ul>
          <p id="offer-heading">Your Request</p>
          <li>
            <% Team.find(@team_id).properties.each do |prop| %>
              <div id="property-option">
                <%= check_box_tag "incoming_property[]", prop.id %>
                <%= label_tag 'incoming_property', prop.city %>
              </div>
            <% end %>
          </li>
          <li>
            <%= f.label :incoming_cash, :class=>"mat-label"%>
            <%= f.text_field :incoming_cash, :class =>'mat-input', :id =>'cash-incoming'%><br />
          </li>
        </ul>
      </div>
    </div>

    <%= f.submit 'Submit Request', class: 'submit-btn' %>

  <% end %>
</div>



<script>
$(".mat-input").focus(function(){
  $(this).parent().addClass("is-active is-completed");
});

$(".mat-input").focusout(function(){
  if($(this).val() === "")
    $(this).parent().removeClass("is-completed");
  $(this).parent().removeClass("is-active");
})
</script>
