<%= form_for(trade_request) do |f| %>

  <% if trade_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trade_request.errors.count, "error") %> prohibited this trade_request from being saved:</h2>

      <ul>
      <% trade_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="new-trade">
    <div class="new-trade" id="outgoing-items">
      <ul>
        <li>
          <label for="sel1" class="form-signin-heading text-muted">Select Outgoing Properties: </label>
          <select class="form-control" name="outgoing_properties">
            <%= current_user.properties do |x| %>
              <option value="<%= Property.find(x.id) %>"><%= x.city %></option>
            <% end %>
          </select>
        </li>
        <li>
          Cash Offer:<br>
          <input type="text" name="outgoing_cash"><br>
        </li>
      </ul>
    </div>
    <div class="new-trade" id="requested-items">
      <ul>
        <li>
          <label for="sel1" class="form-signin-heading text-muted">Select Team to Trade with: </label>
          <select class="form-control" name="user_selection" onchange="getRequestedProps(this.value);">
            <%= Team.all.each do |x| %> 
              <option id="request-selection" value="<%= x.id %>"><%= x.username %></option>
            <% end %>
          </select>
        </li>
        <li>
          <label for="sel1" class="form-signin-heading text-muted">Select Desired Properties: </label>
          <ul id='requested-properties-list'>
          </ul>
        </li>
      </ul>
    </div>
  </div>

<%= f.submit %>
<% end %>



<script>

function getRequestedProps(value){
  $('#requested-properties-list').empty();
  $.ajax({
    url: '/properties/' + value,
    success: function(response_data){
      if (response_data.length === 0){
        var $property_html = $('<li class=property-item>' + 'This team does not have any properties to trade!' + '</li>');
        $('#requested-properties-list').append($property_html);
      }
      else{
        response_data.forEach(function(property){
          var $property_html = $('<li class='properties' id='property.id'>' + property.city + '</li>');
          var $property_checkbox = $('<input type='checkbox' autocomplete='off' value='property.id'>' + property.city + '</label>');
          $('#requested-properties-list').append($property_html);
          $('#requested-properties-list').append($property_checkbox);
        });
      }
    },
    error: function(){
      alert("Unable to retrieve properties");
    }
  })
}

</script>
