<%= form_for(trade_request) do |f| %>

  <% if trade_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trade_request.errors.count, "error") %> prohibited this trade_request from being saved:</h2>

      <ul>
      <% trade_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="new-trade">
    <div class="new-trade" id="outgoing-items">
      <ul>
        <p id="offer-heading">Your Offer</p>
        <li onClick=handleCheckbox()>
          <% current_user.team.properties.each do |x| %>
            <%= check_box_tag "outgoing_property[]", x.id, false, :id => "p-checks" %>
            <label class="checkbox"><span class="outer"><span class="inner"></span></span><%= x.city %></label>
             <!-- <label class="checkbox"><input id="p-outgoing" type="checkbox" name="outgoing_property" value="<%= x.id %>"><span class="outer"><span class="inner"></span></span><%= x.city %></label> -->
          <% end %>
        </li>
        <li>
          <label for="outgoing-cash" class="mat-label">Cash Offer</label>
          <input type="text" class="mat-input" id="cash-outgoing" value="outgoing-cash">
        </li>
      </ul>
    </div>
    <div class="new-trade" id="requested-items">
      <div id="team-options">
        <p id="offer-heading">Your Request</p>
        <label for="sel1" class="form-signin-heading text-muted">Select Team to Trade with: </label>
        <select class="default-dropdown" name="user_selection">
          <%= Team.all.each do |x| %>
            <option id="request-selection" value="<%= x.id %>"><%= x.team_name %></option>
          <% end %>
        </select>
      </div>
      <div id="property-options">
        <% Property.all.each do |x| %>
          <label class="checkbox">
            <%= check_box_tag "incoming_property[]", x.id, false, :id => "p-checks" %>
            <%= x.city %>
          </label>
        <% end %>
      </div>
      <div id="request-cash-input">
        <label for="requested-cash" class="mat-label">Requested Cash</label>
        <input type="text" class="mat-input" id="requested-cash" value="incoming-cash">
      </div>
    </div>
  </div>

  <%= f.submit 'Submit Request', class: 'submit-btn' %>

<% end %>



<script>

function getRequestedProps(value){
  $('#requested-properties-list').empty();
  $.ajax({
    url: '/properties/' + value,
    success: function(response_data){
      if (response_data.length === 0){
        var $property_html = $('<li class=property-item>' + 'This team does not have any properties to trade!' + '</li>');
        $('#requested-properties-list').append($property_html);
      }
      else{
          response_data.forEach(function(property){
            // TODO: Figure this out
            var $p_desc_html = $('<label class="checkbox"><span class="outer"><span class="inner"></span></span>'+property.city+'</label>')
            // var $property_html = $('<label class="checkbox"><input id="p-outgoing" type="checkbox" name="incoming_property" value='+property.id+'><span class="outer"><span class="inner"></span></span>'+property.city+'</label>');
            $('#requested-properties-list').append($property_html);
            $('#requested-properties-list').append($p_desc_html);
          });
        }
      },
    error: function(){
      alert("Unable to retrieve properties");
    }
  });
};



$(".mat-input").focus(function(){
  $(this).parent().addClass("is-active is-completed");
});

$(".mat-input").focusout(function(){
  if($(this).val() === "")
    $(this).parent().removeClass("is-completed");
  $(this).parent().removeClass("is-active");
})

function handleCheckbox(){
  $('#p-outgoing').is(":checked") ? $("#p-outgoing").removeAttr("checked") : $("#p-outgoing").attr("checked","checked");
}

</script>
