<%= render 'sidebar' %>
<div class='content-container'>
  <h1>Trade Requests</h1>
  <h4>
    <% flash.each do |k, v| %>
      <div id="error"><%= v %></div>
    <% end %>
  </h4>
  <div class="table">
    <div class="row header blue">
      <div class="cell">
        Trading Partner
      </div>
      <div class="cell">
        # of Properties to Give
      </div>
      <div class="cell">
        Cash to Give
      </div>
      <div class="cell">
        # of Properties to Receive
      </div>
      <div class="cell">
        Cash to Receive
      </div>
      <div class="cell">
        Status
      </div>
      <div class="cell">
        Actions
      </div>
    </div>
    <% TradeRequest.where(offeror_id: @team.id).or(TradeRequest.where(offeree_id: @team.id)).each do |trade_request| %>
      <div class="row">
         <div class="cell">
          <%= trade_request.offeror_id != @team.id ?trade_request.offeror_id: trade_request.offeree_id%>
        </div>
       <div class="cell">
          <%= trade_request.offeror_id == @team.id ? trade_request.outgoing_properties ? trade_request.outgoing_properties.length : nil : trade_request.incoming_properties ? trade_request.incoming_properties.length : nil%>
        </div>
       <div class="cell">
          <%= trade_request.offeror_id == @team.id ? trade_request.outgoing_cash ? number_to_currency(trade_request.outgoing_cash, :unit => "$") : nil : trade_request.incoming_cash ? number_to_currency(trade_request.incoming_cash) : nil%>
        </div>
       <div class="cell">
          <%= trade_request.offeror_id == @team.id ? trade_request.incoming_properties ? trade_request.incoming_properties.length : nil : trade_request.outgoing_properties ? trade_request.outgoing_properties.length : nil%>
        </div>
       <div class="cell">
          <%= trade_request.offeror_id == @team.id ? trade_request.incoming_cash ? number_to_currency(trade_request.incoming_cash, :unit => "$") : nil : trade_request.outgoing_cash ? number_to_currency(trade_request.outgoing_cash) : nil%>
        </div>
        <div class="cell">
          <% if trade_request.completed %>
            Trade Complete
          <% else %>
            Pending
          <% end %>
        </div>
        <div class="cell">
          <% if !(trade_request.completed) %>
            <% if trade_request.response_turn == current_user.team_id %>
              <%= link_to 'Accept Offer', accept_path(trade_request.id) %>
              <%= link_to 'Counter Offer', edit_trade_request_path(trade_request) %>
              <%= link_to 'Decline Offer', trade_request, method: :delete %>
            <% end %>
          <% end %>
          <%= link_to 'Show', trade_request_path(trade_request.id) %>
        </div>
      </div>
    <% end %>
  </div>

  <br>

  <h4>Select a Team to Trade With</h4>
  <div class="team-links">
    <% Team.order(:id).each do |team| %>
      <% if team.id != current_user.team_id %>
        <%= link_to "Team " + team.id.to_s, new_trade_request_path(:id => team.id), :data_hover => "team_links" %>
      <% end %>
    <% end %>
  </div>
</div>


<!-- TODO: Must edit trade_requests in the db to handle multiple incoming and outgoing properties -->
<!-- TODO: Create a request interface that allows users to submit requests/offers including multiple properties -->
<!-- TODO: Create a panel that let's users view current 'active' requests, and completed trades. Active requests can be accepted, declined, or edited (counter-offer) -->
