<%= render 'sidebar' %>
<h1>Active Trade Requests</h1>

<table>
  <thead>
    <tr>
      <th>Outgoing property</th>
      <th>Outgoing cash</th>
      <th>Offeror</th>
      <th>Offeree</th>
      <th>Response</th>
      <th>Incoming cash</th>
      <th>Incoming property</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trade_requests.each do |trade_request| %>
      <tr>
        <td><%= trade_request.outgoing_properties.length %></td>
        <td><%= trade_request.outgoing_cash %></td>
        <td><%= trade_request.offeror_id %></td>
        <td><%= trade_request.offeree_id %></td>
        <td><%= trade_request.response_turn %></td>
        <td><%= trade_request.incoming_cash %></td>
        <td><%= trade_request.incoming_properties.length %></td>
        <td><%= trade_request.completed %></td>
        <td><%= link_to 'View Request', trade_request %></td>
        <% if trade_request.response_turn == current_user.team_id %>
          <td><%= link_to 'Counter Offer', edit_trade_request_path(trade_request) %></td>
          <td><%= link_to 'Decline Offer', trade_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h4>Select a Team to Trade With</h4>
<div class="team-links">
  <% Team.all.each do |team| %>
    <% if team.id != current_user.team_id %>
      <%= link_to "Team " + team.id.to_s, new_trade_request_path(:id => team.id), :data_hover => "team_links" %>
    <% end %>
  <% end %>
</div>


<!-- TODO: Must edit trade_requests in the db to handle multiple incoming and outgoing properties -->
<!-- TODO: Create a request interface that allows users to submit requests/offers including multiple properties -->
<!-- TODO: Create a panel that let's users view current 'active' requests, and completed trades. Active requests can be accepted, declined, or edited (counter-offer) -->
