<%= render 'sidebar' %>
<div class='content-container'>
  <div class='show-trade-req'>
    <p id="notice"><%= notice %></p>
    <h2>Properties Offered By <%= Team.find(@trade_request.offeror_id).team_name %>
    <ul class="cards">
      <%if @trade_request.outgoing_properties %>
        <% @trade_request.outgoing_properties.each do |prop| %>
          <% prop = Property.find(prop) %>
          <li class="cards__item">
            <div class="card">
              <div class="card__image card__image--fence"></div>
              <div class="card__content">
                <div class="card__title"><%= prop.name %></div>
                  <ul id="card__info">
                    <li>
                      Value: <%= prop.value %>
                    </li>
                    <li>
                      <% if prop.developed %>
                        Developed: Yes
                      <% else %>
                        Developed: No
                      <% end %>
                    </li>
                    <li>
                      Asset Class: <%= prop.property_type.description %>
                    </li>
                    <li>
                      Development Value: <%= prop.development.value %>
                    </li>
                  </ul>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>

    <br>

    <h2>Properties Offered By <%= Team.find(@trade_request.offeree_id).team_name %>
    <ul class="cards">
      <% if @trade_request.incoming_properties %>
        <% @trade_request.incoming_properties.each do |prop| %>
          <% prop = Property.find(prop) %>
          <li class="cards__item">
            <div class="card">
              <div class="card__image card__image--fence"></div>
              <div class="card__content">
                <div class="card__title"><%= prop.name %></div>
                  <ul id="card__info">
                    <li>
                      Value: <%= prop.value %>
                    </li>
                    <li>
                      <% if prop.developed %>
                        Developed: Yes
                      <% else %>
                        Developed: No
                      <% end %>
                    </li>
                    <li>
                      Development Value: <%= prop.development.value %>
                    </li>
                  </ul>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>

    <br>

    <h2> Cash Offers
    <ul class="cards">
        <li class="cards__item">
          <div class="card">
            <div class="card__content">
              <div class="card__title">Trade Initiator: <%= Team.find(@trade_request.offeror_id).team_name %></div>
                <ul id="card__info">
                  <li>
                    Cash Offer: <%= @trade_request.outgoing_cash %>
                  </li>
                </ul>
            </div>
          </div>
        </li>
        <li class="cards__item">
          <div class="card">
            <div class="card__content">
              <div class="card__title">Trade Recipient: <%= Team.find(@trade_request.offeree_id).team_name %></div>
                <ul id="card__info">
                  <li>
                    Cash Offer: <%= @trade_request.incoming_cash %>
                  </li>
                </ul>
            </div>
          </div>
        </li>
    </ul>
    <% if @trade_request.response_turn == current_user.team_id && !@trade_request.completed%>
      <%= link_to 'Counter Offer', edit_trade_request_path(@trade_request) %>
      <td><%= link_to 'Decline Offer', @trade_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    <%= link_to 'Back', trade_requests_path %>
  </div>
</div>
